<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gamification -->
      <package
            uri="http://www.example.org/gamification"
            class="gamification.GamificationPackage"
            genModel="model/gamification.genmodel"/>
   </extension>

</plugin>
